# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=is-assignment
DATABASE_URL=postgresql://user:password@postgres:5432/is-assignment

# Redis
REDIS_URL=redis://redis:6379

# Kafka
KAFKA_BROKERS=kafka:9092

# API
PORT=3000
