# Database
PG_USER=user
PG_PASSWORD=password
PG_DB=is-assignment
PG_HOST=localhost
PG_PORT=5432
DATABASE_URL=postgresql://user:password@${PG_HOST}:${PG_PORT}/is-assignment

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:$REDIS_PORT

# Kafka
KAFKA_PORT=9092
KAFKA_BROKERS=kafka:$KAFKA_PORT

# API
PORT=3000

KAFKA_TOPIC=your-kafka-topic